{% extends 'schneiderplus/masterpage.html' %}
{% load static %}



{% block content %}
<section class="mt-4 px-4">
    <div class="container mx-auto max-w-screen-xl ">
      <div class="bg-white p-4 rounded-3xl mb-4 ">
        <div class="text-sm breadcrumbs">
          <ul>
            <li><a>خانه</a></li> 
            <li><a href="{% url 'categories' product.ProductCategorySubset.ProductCategory.url %}"> {{product.ProductCategorySubset.ProductCategory.name}} </a></li> 
            <li><a href="{% url 'subset' product.ProductCategorySubset.ProductCategory.url product.ProductCategorySubset.url %}"> {{product.ProductCategorySubset.name}} </a></li> 
            <li> {{product.faName}} </li>
          </ul>
        </div>
      </div>
      <div class=" bg-white p-4 rounded-3xl border-b-2 border-r-2 border-l-2 border-t-white">
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12 md:col-span-4">
            <div style="--swiper-navigation-color: #000000; --swiper-pagination-color: #000000" class="swiper border pro-main border-b rounded-3xl">
              <div class="swiper-wrapper">
               
                {% for image in productimages  %}
                  <div class="swiper-slide">
                    <img class="rounded-xl cursor-pointer" src="/media/{{image.image}}" />
                  </div>
                {% endfor %}

              </div>
              <div class="swiper-button-next after:text-sm"></div>
              <div class="swiper-button-prev after:text-sm"></div>
            </div>
            <div thumbsSlider="" class="swiper gall-pro mt-4">
              <div class="swiper-wrapper">

                {% for image in productimages  %}
                  <div class="swiper-slide">
                    <img class="rounded-xl cursor-pointer" src="/media/{{image.image}}" />
                  </div>
                {% endfor %}
                
              </div>
            </div>
          </div>
          <div class="col-span-12 md:col-span-8">
            <div class= "p-4">
              <div class="bg-stone-50 rounded-xl p-4 leading-8">
                <h1 class="font-YekanBakh-ExtraBold text-base"> {{product.faName}} </h1>
                <p> دسته بندی: {{product.ProductCategorySubset.name}} </p>
              </div>
              <div class="grid grid-cols-12 mt-4">
                <div class="col-span-12 lg:col-span-8 p-4">

                  <ul class="leading-8 text-stone-500">
                    {% for feature in features %}
                      {% if feature.important == True %}
                        <li> {{feature.feature}} : {{feature.descriptions}} </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                  
                  <div class="inline-flex justify-center gap-2 items-center mt-4">
                    {% if status_support == 200 %}
                      <a class="bg-green-800 p-2 text-white rounded-lg" type="telegram" rel="telegram" href="https://web.telegram.org/k/#@{{support.telegram_id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16" id="IconChangeColor"> 
                          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z" id="mainIconPathAttribute"></path> 
                        </svg>
                      </a>
                      <a class="bg-green-800 p-2 text-white rounded-lg" type="tel" rel="tel" href="tel:{{support.tel_phone_1th}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16"> 
                          <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/> 
                        </svg>
                      </a>
                    {% endif %}
                    <div>
                      <a class="border px-4 py-2 rounded-xl" href="comparison.html">افزودن به مقایسه</a>
                    </div>
                  </div>  
                  
                </div>
                <div class="hidden lg:block col-span-4">
                  <div class="flex items-center border rounded-lg my-2 p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-green-800">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z" />
                    </svg>
                    <span class="mr-2">بهترین قیمت</span>                        
                  </div>
                  <div class="flex items-center border rounded-lg my-2 p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-green-800">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
                    </svg>
                    
                    <span class="mr-2">تضمین اصل بودن محصول</span>                        
                  </div>
                  <div class="flex items-center border rounded-lg my-2 p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-green-800">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                    </svg>
                    
                    <span class="mr-2">ارسال سریع</span>                        
                  </div>
                  <div class="flex items-center border rounded-lg my-2 p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-green-800">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M10.34 15.84c-.688-.06-1.386-.09-2.09-.09H7.5a4.5 4.5 0 110-9h.75c.704 0 1.402-.03 2.09-.09m0 9.18c.253.962.584 1.892.985 2.783.247.55.06 1.21-.463 1.511l-.657.38c-.551.318-1.26.117-1.527-.461a20.845 20.845 0 01-1.44-4.282m3.102.069a18.03 18.03 0 01-.59-4.59c0-1.586.205-3.124.59-4.59m0 9.18a23.848 23.848 0 018.835 2.535M10.34 6.66a23.847 23.847 0 008.835-2.535m0 0A23.74 23.74 0 0018.795 3m.38 1.125a23.91 23.91 0 011.014 5.395m-1.014 8.855c-.118.38-.245.754-.38 1.125m.38-1.125a23.91 23.91 0 001.014-5.395m0-3.46c.495.413.811 1.035.811 1.73 0 .695-.316 1.317-.811 1.73m0-3.46a24.347 24.347 0 010 3.46" />
                    </svg>
                    
                    <span class="mr-2">مشاوره قبل از خرید</span>                        
                  </div>
                  <div class="flex items-center border rounded-lg my-2 p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-green-800">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 11.25v8.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 109.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1114.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                    </svg>
                    
                    <span class="mr-2">بسته بندی زیبا</span>                        
                  </div>
                  <div class="flex items-center border rounded-lg my-2 p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-green-800">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
                    </svg>
                    
                    <span class="mr-2">رضایت کاربران</span>                        
                  </div>
                  <div class="flex items-center border rounded-lg my-2 p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-green-800">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                    </svg>
                    
                    <span class="mr-2">تایید فروشنده توسط ترازو</span>                        
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="my-4 px-4">
  <div class="container bg-white mx-auto max-w-screen-xl rounded-3xl border-b-2 border-r-2 border-l-2 border-t-white">

    <div class="tab rounded-3xl p-8 pb-16 leading-8 mb-10">
      <button class="tablinks text-3xl text-gray-500 font-YekanBakh-ExtraBlack py-2 px-4 mx-2 my-4 rounded-3xl  hover:text-gray-800 hover:border-b-2 transition active" onclick="openpage(event, 'features')"> توضیحات کامل  </button>
      <button class="tablinks text-3xl text-gray-500 font-YekanBakh-ExtraBlack py-2 px-4 mx-2 my-4 rounded-3xl  hover:text-gray-800 hover:border-b-2 transition " onclick="openpage(event, 'review')"> نقدر و بررسی </button>
    </div>
    <hr>
    <div id="features" class="bg-white rounded-3xl p-8 pt-0 leading-8 tabcontent " style="display: block;">
      <div class="grid grid-cols-12 ">
        <div class="col-span-12 lg:col-span-8 p-4">
          {% for featurescat in featurescats %}
            <h4 class="font-bold text-lg border-3x1 border-b-2 pt-5 mb-4 border-gray-300">{{featurescat.name}}</h4>
            <ul class="leading-8 text-stone-500">
              {% for feature in features %}
                {% if feature.FeaturesCategories == featurescat %}
                  <li class="pt-1"> {{feature.feature}} : {{feature.descriptions}} </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endfor %}

        </div>
      </div>
    </div>

    <div id="review" class=" p-8 leading-8 tabcontent" style="display: none;">
      <div class="grid grid-cols-12 mt-4">
        <div class="col-span-12 lg:col-span-8 p-4">
          <p> {{product.review|safe}} </p>
        </div>
      </div>
        
    </div>
    
  
    
  </div>
</section>

{% if similar_products_status == 200 %}
  <section class="my-4 mb-14 px-4">
    <div class="container mx-auto max-w-screen-xl  rounded-3xl border-b-2 border-r-2 border-l-2 border-t-white">
      <div class="bg-white rounded-3xl p-8 leading-8">
        <p class="text-3xl font-YekanBakh-ExtraBlack mb-4">محصولات مشابه</p>
        <div class="swiper related">
          <div class="swiper-wrapper">
            {% for similar_product in similar_products %}
              <div class="swiper-slide">
                <div class="bg-white rounded-3xl leading-10 p-4">
                    <a href="{% url 'products' similar_product.Brand.en_name similar_product.ProductCategorySubset.ProductCategory.url similar_product.ProductCategorySubset.url similar_product.enName %}" class="flex flex-col items-center justify-center">
                      <img class="mb-4" src="/media/{{similar_product.poster}}" alt="{{similar_product.enName}}">
                    </a>
                  <div class="text-center">
                    <a href="{% url 'products' similar_product.Brand.en_name similar_product.ProductCategorySubset.ProductCategory.url similar_product.ProductCategorySubset.url similar_product.enName %}"><h3 class="font-YekanBakh-ExtraBold text-base"> {{similar_product.faName}} </h3></a>
                    <div class="flex justify-center gap-4 text-base mt-4">
                      <span class="text-black"> کد فنی  :  </span>
                      <span class="text-green-800">{{similar_product.code}}</span>
                    </div> 
                    <div class="flex justify-center gap-2 items-center mt-4">
                      {% if status_support == 200 %}
                        <a class="bg-green-800 p-2 text-white rounded-lg" type="telegram" rel="telegram" href="https://web.telegram.org/k/#@{{support.telegram_id}}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16" id="IconChangeColor"> 
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z" id="mainIconPathAttribute"></path> 
                          </svg>
                        </a>
                        <a class="bg-green-800 p-2 text-white rounded-lg" type="tel" rel="tel" href="tel:{{support.tel_phone_1th}}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16"> 
                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/> 
                          </svg>
                        </a>
                      {% endif %}
                    </div>     
                  </div>
                </div>
              </div>
            {% endfor %}

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </div>

  </section>
{% endif %}
{% endblock %}


{% block meta_title %}
 {{blog.title}}
{% endblock meta_title %}

{% block meta_tag %}

{% endblock meta_tag %}

{% block meta_description %}

{% endblock meta_description %}

{% block links %}
  <link rel="stylesheet" href="{% static 'schneiderplus/css/tab.css'%}">
{% endblock links %}

{% block scripts %}
  <script src="{% static 'assets/js/product_tab_handle.js'%}"></script>
{% endblock scripts %}