{% extends 'adminstrator/dashboard/masterpage.html' %}
{% load static %}



{% block content %}	
    <!--  BEGIN CONTENT PART  -->
    <div id="content" class="main-content">
        <div class="container-fluid">
            <div class="container-fluid">

                <div class="row layout-top-spacing">
                    <div class="col-lg-12">
                        
                        <div class="row">
                            <div id="flFormsGrid" class="col-lg-12 layout-spacing">
                                <div class="statbox widget box box-shadow">
                                    <div class="widget-header">
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                <h4> اضافه کردن خبر  </h4>
                                            </div>                                                                        
                                        </div>
                                    </div>
                                    <div class="widget-content widget-content-area">

                                        <form enctype="multipart/form-data" method="POST">
                                            {% csrf_token %}

                                            <div class="form-row mb-4 col-12">
                                                <div class="form-group col-md-12">
                                                    <label for="inputFeature"> دسته بندی </label>
                                                    <input type="text" name="feature" class="form-control" id="inputFeature" placeholder=" مشخصات فنی ">
                                                </div>
                                                
                                            </div>
                                            

                                            <div class="form-row mb-4 col-12">
                                                <div class="form-group col-md-12 mb-4">
                                                    <button type="submit" name="addfeaturecatBTN" class="btn btn-primary mt-3" style="float: left;"> ثبت </button>
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--  END CONTENT PART  -->
{% endblock content %}

{% block PageTitle %}
{% endblock PageTitle %}

{% block dir %}
<h3> <a href="{% url 'mng_blogs' %}"> بلاگ ها </a> </h3>
{% endblock %}

{% block links %}
<link type="text/css" rel="stylesheet" href="{% static 'adminstrator/plugins/dropify/dropify.min.css'%}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'adminstrator/assets/css/users/account-setting.css'%}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'adminstrator/assets/css/forms/switches.css'%}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'adminstrator/plugins/file-upload/file-upload-with-preview.min.css'%}"></script>
{% endblock links %}

{% block scripts %}
<script src="{% static 'adminstrator/plugins/dropify/dropify.min.js'%}"></script>
<script src="{% static 'adminstrator/plugins/blockui/jquery.blockUI.min.js'%}"></script>
<script src="{% static 'adminstrator/assets/js/users/account-settings.js'%}"></script>
<script src="{% static 'adminstrator/plugins/file-upload/file-upload-with-preview.min.js'%}"></script>
<script src="{% static 'adminstrator\ajax\addproduct.js'%}"></script>
<script src="{% static 'CKEditor/ckeditor.js'%}"></script>
<script>
    CKEDITOR.replace('ck')
</script>
<script>
    document.getElementById('id_image').setAttribute("multiple", "");
</script>
<script>
    //First upload
    var firstUpload = new FileUploadWithPreview('myFirstImage')
    //Second upload
    var secondUpload = new FileUploadWithPreview('mySecondImage')
</script>
{% endblock scripts %}