{% extends 'schneiderplus/masterpage.html' %}
{% load static %}



{% block content %}
<section class="my-14 mt-4 px-4">
    <div class="container mx-auto max-w-screen-xl">
      <div class="bg-white p-4 rounded-3xl mb-4">
        <div class="text-sm breadcrumbs">
          <ul>
            <li><a>خانه</a></li> 
            <li><a>دسته بندی</a></li> 
            <li>{{category.name}}</li>
          </ul>
        </div>
      </div>
      <div class="bg-white p-4 rounded-3xl mb-4">
        <section class="my-14 px-4">
            <div class="container mx-auto max-w-screen-xl">
              <div class="text-center mb-8">
                <h2 class="font-YekanBakh-ExtraBlack text-3xl">دسته بندی های زیر مجموعه {{category.name}}</h2>
              </div>
              <div class="swiper slider-product1">
                <div class="swiper-wrapper">
                    {% for subset in subsets %}
                        <div class="swiper-slide shadow-lg">
                            <div class="bg-white rounded-3xl leading-10 p-4">
                                <a href="{% url 'subset' category.url subset.url %}" class="flex flex-col items-center justify-center">
                                <img class="mb-4" src="/media/{{subset.vector}}" alt="محصولات {{subset.name}}">
                                </a>
                                <div class="text-center">
                                    <a href="{% url 'subset' subset.url subset.url %}"><h3 class="font-YekanBakh-ExtraBold text-base"> {{subset.name}} </h3></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                  
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </section>
      </div>
      
        <div class="grid grid-cols-12 gap-4">
            
            
            <div class="col-span-12 lg:col-span-12 order-1 lg:order-4 mt-11">
                <div class="text-center mb-8">
                    <h2 class="font-YekanBakh-ExtraBlack text-3xl"> محصولات {{category.name}} </h2>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
                    {% for product in products %}
                        <div class="bg-white rounded-3xl leading-10 p-4">
                            <a href="{% url 'products' product.Brand.en_name product.ProductCategorySubset.ProductCategory.url product.ProductCategorySubset.url product.enName %}" class="flex flex-col items-center justify-center">
                                <img class="mb-4" src="/media/{{product.poster}}" alt="{{product.enName}}">
                            </a>
                            <div class="text-center">
                                <a href="{% url 'products' product.Brand.en_name product.ProductCategorySubset.ProductCategory.url product.ProductCategorySubset.url product.enName %}"><h3 class="font-YekanBakh-ExtraBold text-base"> {{product.faName}} </h3></a>
                                <div class="flex justify-center gap-4 text-base mt-4">
                                    <span class="font-YekanBakh-Regular"> {{product.code}} </span>
                                    <span class="font-YekanBakh-Regular text-green-800"> {{product.Brand.fa_name}} </span>
                                </div>    
                                <div class="flex justify-center gap-2 items-center mt-4">
                                    <a class="bg-green-800 p-2 text-white rounded-lg" type="telegram" rel="telegram" href="https://web.telegram.org/k/#@{{support.telegram_id}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16" id="IconChangeColor"> 
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z" id="mainIconPathAttribute"></path> 
                                        </svg>
                                    </a>
                                    <a class="bg-green-800 p-2 text-white rounded-lg" type="tel" rel="tel" href="tel:{{support.tel_phone_1th}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16"> 
                                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/> 
                                        </svg>
                                    </a>
                                </div>  
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="text-center mb-8 mt-8">
                    <a href="#" class="font-YekanBakh-ExtraBlack text-3xl  rounded-3xl py-2 px-4 mx-2 my-4 border-2 transition hover:bg-green-800 hover:text-white"> محصولات بیشتر>>> </a>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}

{% block meta_title %}
 صفحه اصلی
{% endblock meta_title %}

{% block meta_tag %}

{% endblock meta_tag %}

{% block meta_description %}

{% endblock meta_description %}

{% block links %}

{% endblock links %}

{% block scripts %}

{% endblock scripts %}
